{% extends 'basic.html' %}
{% load static %}
{% block customerhead %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Static Example</title>
    <link rel="stylesheet" href={% static 'fontawesome-free-5.8.1-web/css/all.min.css' %}>
    <script src={% static 'js/monent/moment.min.js' %}></script>
    <link rel="stylesheet" href={% static 'tempus/css/tempusdominus-bootstrap-4.min.css' %}>
    <script src={% static 'tempus/js/tempusdominus-bootstrap-4.min.js' %}></script>
    <style>
        .custom-table-width {
            width: 50px;
            max-width: 5%;
        }

        . {
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 11.99999%;
            max-width: 11.99999%;
        }
    </style>
{% endblock %}
{% block subTitle %}

    <div class="form-inline">
        <h1 class="h2">供应商信息</h1>
    </div>
    <div class="form-inline">

        {#            <button id="exportexcel" class="btn btn-success btn-sm">导出表格</button>#}
        <a class="btn btn-success btn-sm" type="button" href="/suppliers/listall/?sid=1">频道</a>

    </div>

{% endblock %}
{% block content %}
    <div class="table-responsive ">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>供应商</th>
                <th>别名</th>
                <th>备注消息</th>
            </tr>
            </thead>
            <tbody>
            {% for item in result %}
                <tr>
                <td>{{ item.chinaname }}</td>
                <td>{{ item.englishname }}</td>
                <td>{{ item.note }}</td>
            {% endfor %}
        </table>
    </div>
        <div class="table-responsive ">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>联系人</th>
                <th>电话</th>
                <th>备注</th>
            </tr>
            </thead>
            <tbody>
            {% for item in result %}
                <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.phone }}</td>
                <td>{{ item.note }}</td>
            {% endfor %}
        </table>
    </div>

{% endblock %}
{% block customerjs %}
    <script type="text/javascript">
        $(document).ready(function () {
            var inportUrl = "/suppliers/listall?sid=";
            $("button[id=backtotatil]").click(function () {
                window.location.href = inportUrl
            });
            $("td button").on('click', function () {
                var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
                data = {
                    csrfmiddlewaretoken: csrftoken,
                };
                var formdata = {
                    csrfmiddlewaretoken: csrftoken,
                    'value': $(this).val(),
                    'nid': $(this).attr('nid'),
                };
                url = '/devices/monitorroom';
                $.ajax({
                    url: url,
                    type: "POST",
                    data: formdata
                });
            });
        })
    </script>
{% endblock %}