{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>easy_cmdb</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href={% static 'bootstrap-4.1.3/css/bootstrap.min.css' %}>
    <script src={% static 'jquery-3.3.1.min.js' %}></script>
    <script src={% static 'popper.min.js' %}></script>
    <script src={% static 'bootstrap-4.1.3/js/bootstrap.min.js' %}></script>
</head>
<body>

<div class="be-wrapper be-fixed-sidebar">
    <nav class="navbar navbar-expand fixed-top be-top-header">
        <div class="container-fluid">

        </div>
    </nav>
    <div class="be-left-sidebar">

    </div>
    <div class="be-content">

    </div>
    <nav class="be-right-sidebar">
        <div class="sb-content">
        </div>
    </nav>
</div>

</body>
</html>