{% extends 'basic.html' %}
{% block subTitle %}
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" id='used'>使用中</button>
        <button type="button" class="btn btn-secondary" id='unused'>未使用</button>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
     {% csrf_token %}
        <button type="button" class="btn btn-secondary" id='updateall'>更新</button>
    </div>
{% endblock %}
{% block content %}
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>设备ip</th>
                <th>频道名称</th>
                <th>启停</th>
                <th>分辨率</th>
                <th>输出1</th>
                <th>输出2</th>
            </tr>
            </thead>
            <tbody>
            {% for item in queryencoders %}
                <tr>
                    <td>{{ item.ipv4__ip }}</td>
                    <td>{{ item.programdetail__name }}</td>
                    <td>{{ item.programdetail__switchStatus }}</td>
                    <td>{{ item.programdetail__width }}*{{ item.programdetail__height }}</td>
                    <td>{{ item.programdetail__outPutFirst }}</td>
                    <td>{{ item.programdetail__outPutSecond }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block customerjs %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("button[id=used]").click(function () {
                $("td").each(function () {
                        if ($(this).is(':hidden') && $(this).text() == 'True') {
                            $(this).parent().show();
                            $(this).show();
                        } else if ($(this).text() == 'True') {
                            $(this).hide();
                            $(this).parent().hide()
                        }
                    }
                )
            });
            $("button[id=unused]").click(function () {
                $("td").each(function () {
                        if ($(this).is(':hidden') && $(this).text() == 'False') {
                            $(this).parent().show();
                            $(this).show();
                        } else if ($(this).text() == 'False') {
                            $(this).hide();
                            $(this).parent().hide()
                        }
                    }
                )
            });
            $("button[id=updateall]").click(function () {
                {#var sid = $(this).data("sid");#}
                var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
                data = {
                    csrfmiddlewaretoken: csrftoken,
                };
                $.post("/tasks/encodersupdate", data, function (result) {
                        {#var jsonarray = $.parseJSON(result);#}
                        {#var targetwid = "button[data-sid=" + jsonarray["sid"] + "]";#}
                        {#$(targetwid).parent().parent().remove();#}
                    }
                );
            });

        });
    </script>

{% endblock %}