{% extends 'basic.html' %}
{% block subTitle %}
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" ><a href="#"></a>卫星接收机</button>
        <button type="button" class="btn btn-secondary"><a href="#"></a>编码器</button>
    </div>
{% endblock %}
{% block content %}

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>设备ip</th>
                <th>频道名称</th>
                <th>输出组播</th>
                <th>播放连接</th>
            </tr>
            </thead>
            <tbody>
            {% for item in programlist %}
                <tr>
                    <td>{{ item.machine__ipv4__ip }}</td>
                    <td>{{ item.name }}</td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}