{% extends 'basic.html' %}
{% block subTitle %}
    <h1 class="h2">每日任务</h1>
    <div>
        <form action="/tasks/daily" method="get">
            <label>开始时间</label>
            <input type="date" name="starttime" value="{{ today|date:'Y-m-d' }}">
            <label>结束时间</label>
            <input type="date" name="endtime" value="{{ tomorrow|date:'Y-m-d' }}">
            {#                <select name="searchfield">#}
            {#                    <option value="0">播放时间</option>#}
            {#                    <option value="1">更新时间</option>#}
            {#                </select>#}
            <input type="submit" class="btn btn-success btn-sm" value="查询">
            <button id="importex" type="button" class="btn btn-success btn-sm">导入execl</button>
            <button id="exportex" type="button" class="btn btn-success btn-sm">导出execl</button>
        </form>
    </div>
{% endblock %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th width="5%" style="color: #2b669a">
                    序号
                </th>
                <th>启止时间</th>
                <th>频道名称</th>
                <th>节目名称</th>
                <th>需求部门</th>
                <th>责任人</th>
                <th>业务类型</th>
                <th>源地址</th>
                <th>输入地址</th>
                <th>http流地址</th>
            </tr>
            </thead>
            <tbody>
            {% for key,item in message.items %}
                <tr>
                    {{ item }}
                    <td><a href="/admin/flows/video_flow/{{ item.id }}/change">{{ forloop.counter }}</a></td>
                    <td>
                        {{ item.startDate|date:"m-d H:i" }}
                        <br/>
                        {{ item.endDate |date:"m-d H:i" }}
                    </td>
                    <td>{{ item.programChannel }}</td>
                    <td>{{ item.programName }}</td>
                    <td>{{ item.adminStaff__department }}</td>
                    <td>{{ item.adminStaff__staffName }}</td>
                    <td>
                        <span class="badge badge-secondary" data-status="{{ item.isLive }}">收录</span>
                        <span class="badge badge-secondary" data-status="{{ item.isRecode }}">直播</span>
                    </td>
                    <td>{{ item.inPutStream }}</td>
                    <th>{{ item.inPutFirst }}</th>
                    <td>{{ item.outPutHttpFlow }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
{% block customerjs %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("span").each(function () {
                if ($(this).data("status") == "True") {
                    //alert($(this).data("status"));
                    $(this).removeClass();
                    $(this).addClass("badge badge-success");
                }
            })
        });
    </script>
{% endblock %}