{% extends 'basic.html' %}
{% block subTitle %}
    明细
{% endblock %}
{% block content %}
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>频道名称</th>
                <th>节目名称</th>
                <th>开始时间</th>
                <th>结束时间</th>
            </tr>
            </thead>
            <tbody>
            {% for item in message %}
                <tr>
                    <td>{{ item.programChannel }}</td>
                    <td>{{ item.programName }}</td>
                    <td>{{ item.startDate |date:"m-d H:i"}}</td>
                    <td>{{ item.endDate |date:"m-d H:i"}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}