{% extends 'basic.html' %}
{% load static %}
{% block subTitle %}
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="/tasks/listalltask" type="button" class="btn btn-primary btn-sm">重点任务保障</a>
        <a href="/tasks/staff" type="button" class="btn btn-primary btn-sm">业务部门</a>
        <a href="/tasks/synctask" type="button" class="btn btn-primary btn-sm">移动直播同步</a>
    </div>
{% endblock %}
{% block content %}
    <div>
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>人员名称</th>
                <th>所属部门</th>
                <th>联系电话</th>
                <th>备注</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <form action="/tasks/staff" method="post">
                    {% csrf_token %}
                    <td>{{ getForm.department }}</td>
                    <td>{{ getForm.staffName }}</td>
                    <td>{{ getForm.phoneNumber }}</td>
                    <td>{{ getForm.note }}</td>
                    <td><input type="submit" value="添加"></td>
                </form>
            </tr>
            {% for item in message %}
                <tr>
                    <td>{{ item.department }}</td>
                    <td>{{ item.staffName }}</td>
                    <td>{{ item.phoneNumber }}</td>
                    <td>{{ item.note }}</td>
                    <td>
                        <button type="button" class="btn btn-danger" data-sid="{{ item.id }}"
                        ">删除
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block customerjs %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("input").addClass("form-control form-control-sm");
            $("select").addClass("form-control form-control-sm");

            $("button").click(function () {
                var sid = $(this).data("sid");
                var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
                data = {
                    csrfmiddlewaretoken: csrftoken,
                    sid: sid,
                };
                $.post("/tasks/deletestaff", data, function (result) {
                        var jsonarray = $.parseJSON(result);
                        var targetwid = "button[data-sid=" + jsonarray["sid"] + "]";
                        $(targetwid).parent().parent().remove();
                    }
                );
            });
        });

    </script>

{% endblock %}
